<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.itLearn.utility.ITestListenerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
<!--       <class name="com.itLearn.testcases.LoginTest"/>
      <class name="com.itLearn.testcases.TestCaseDemo"/>
      <class name="com.itLearn.testcases.LoginTestDrivenData"/>
      <class name="com.itLearn.pages.BaseTest"/>                        -->
      <class name="com.itLearn.testcases.PaymentTestCase"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
